* { /* сброс отступов по умолчанию, пока оставлю по умолчанию, иначе нада зававать для каждого елемента
       нужно будет потом поиграться разметить правильно страницу, сейчас както лень */
    /*margin: 0 0 0 0;
    padding: 0 0 0 0;*/
}
.body {
	/*padding-left:48%;
	padding-top:10%;*/
/*	margin:8px;*/ /* пока уберу, это стандартный маргин для файрфокса, лучше задать вручную так точно страница будет одинакова везде */
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
    color:#424E5A; /* цвет шрифта и всех рамок в документе */
    /*color:#272727;*/
	/*color:#555753;*/
}

/*div.main {
    margin:10px;
    padding:10px;
}*/
div.error {
    width:350px;
    padding:10px;
    margin:0 auto;
    background-color:#FFD9E0;
    text-align:center;
    font-weight:bold;
    border:2px solid;
    border-radius:5px;
    color:#CD0000;
}

/*------------------ для пагинатора --------------------------------*/
#pagination li { display: inline; }
#pagination li { border-left:  1px solid #A6C9E2; }
#pagination li:last-child { border-right:  1px solid #A6C9E2; }

#pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
 /*border-top: 1px solid #0066B9;*/
 /*border-bottom: 1px solid #0066B9;*/
 /* border-radius: 20px 5px;*/
  width: 600px;
  font-size: 10px;
  text-align: left;
  background-color:#f1f1ff;
 /*border-bottom: 1px solid #0066B9;*/ 
 /* border-radius: 20px 5px;*/
  width: 600px;
  font-size: 10px;  
  text-align: left;
  background-color:#f1f1ff; 
}
#pagination a {
  /*color: #fff;*/
  padding: 1px 5px;
  text-decoration: none;
  /*border-left:  1px solid #A6C9E2;*/
  /*margin-left: 5px;*/
  /*border-left:  1px solid #A6C9E2;*/  
  /*margin-left: 5px;*/  
  border-radius: 2px 2px;
  font-weight: bold;
  display: inline-block;
 /* width: 100px;*/
}

#pagination a:hover {
  /*border-radius: 20px 5px;*/
  background-color: #c7c7c7;
}

#art { 
  /*display: block;*/
  background-color:#f1f1ff;
  padding: 2px;
  border-top: 1px solid #A6C9E2; 
  border-bottom: 1px solid #A6C9E2;
  box-shadow: 5px 5px 5px #777777;
  margin-top: 15px;
  margin-bottom: 15px;
}


/*** для форм входа и хеширования пароля ***/

/*.body{
	padding-left:48%;
	padding-top:10%;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
	color:#555753;
}*/
.input{
	display:block;
	width:175px;
	float:left;
	margin-bottom:10px;
}
.label{
	display:block;
	text-align:right;
	float:left;
	width:75px;
	margin-right:20px;
}

br {
	/*clear:left;*/
}

/*** для анимации кнопки, размер задается в свойствах самой кнопки ***/
input[type="submit"]{
	color:white;
	background-color:#2E3436;
	font-size:1em;
	border:1px solid #2E3436;
	border-radius:5px;
	height:25px;/*высота кнопки*/
	width:75px;/* 140px */
	margin-left:95px;/* Отступ кнопки с лева от края формы*/
}
input[type="submit"]:hover{
	background-color: #555753;
}

.fieldset{
	width:350px; /* ширина поля fieldset*/
	margin:0px auto;
	margin-top:150px;
	margin-bottom:25px;
	border:none;
    border-radius: 5px 5px;
	background-color:#EEEEEE;/*#F6F6F6;*/
	box-shadow:15px 15px 10px #888;
	-moz-box-shadow:15px 15px 10px #888;
	-webkit-box-shadow:15px 15px 10px #888;
/*** -moz- и -webkit- нада применять и для border-radius хотя в iceweasel работает и так TODO дома проверить на разных браузерах ***/
}
.legend{
	border:none;
	border-radius: 5px 5px;
	background-color:#EEEEEE; /*#F6F6F6;*/
	margin-bottom:1em;
	padding:.3em;
	text-shadow:#555753 0 .15em .10em;
}


